/*Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.border-element {
    border: 2px solid salmon;
}

div h4{
    font-family: 'Lobster', cursive;
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 3em;
}

img{
    width: 15%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
